*
{
	margin: 0;
	padding: 0;
}
html,body
{
	font-family: sans-serif;
	height: 100%;
}

a, a:hover, a:active, a:visited 
{ 
	color: white; 
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background-image: linear-gradient(to right,#ff512f,#dd2476);
	color: #fff;
	font-size: 20px;
	padding-left: 20px;
}

.navbar-nav li a 
{
	color: #fff;
	font-weight : 500;
}

.navbar-toggler-icon
{
	color: white;
}

.fa-bars
{
	color: #fff;
	font-size: 30px !important
}

#banner
{
	background-image: linear-gradient(to right,#ff512f,#dd2476);
	color: #fff;
	padding-top: 5%;
	height: 1000px;
}

.img-banner
{
	margin-top: 30px;
	margin-left: 70px;
	width: 80%;
	height: 80%;
}

.email{
	margin-top: 30px;
}
.username{
	margin-top: 30px;
}
.btn-warning{
	margin-top: 40px;
}



